@font-face {
	font-family: "Waltograph";
	src: url(../images/waltographUI.ttf) format("truetype");
}

body {
	text-align: center;
}

.btn {
	width: 500px;
	margin: 10px 0;
}

.game {
	font-size: 20px;
}

.jumbotron {
	font-family: "Waltograph", Verdana, Tahoma;
}